# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
WardenFort/.vs/WardenFort/v17/ipch/AutoPCH/8da1194653fba543/WARDENFORT.ipch
WardenFort/.vs/WardenFort/FileContentIndex/09c61ce0-2c66-45d3-920a-dc749c60dae4.vsidx
WardenFort/.vs/WardenFort/v17/Browse.VC.opendb
WardenFort/.vs/WardenFort/v17/.suo
WardenFort/.vs/WardenFort/v17/Browse.VC.db
WardenFort/.vs/WardenFort/v17/Browse.VC.db-shm
WardenFort/.vs/WardenFort/v17/Browse.VC.db-wal
WardenFort/.vs/WardenFort/v17/DocumentLayout.json
/WardenFort/.vs
